[submodule "Submodules/gcc"]
	path = Submodules/gcc
	url = https://gcc.gnu.org/git/gcc.git
[submodule "Submodules/binutils"]
	path = Submodules/binutils
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "Submodules/linux"]
	path = Submodules/linux
	url = https://github.com/torvalds/linux.git
[submodule "Submodules/bash"]
	path = Submodules/bash
	url = https://https.git.savannah.gnu.org/git/bash.git
[submodule "Submodules/glibc"]
	path = Submodules/glibc
	url = https://sourceware.org/git/glibc.git
[submodule "Submodules/klibc"]
	path = Submodules/klibc
	url = https://git.kernel.org/pub/scm/libs/klibc/klibc.git
[submodule "Submodules/systemd"]
	path = Submodules/systemd
	url = https://github.com/systemd/systemd.git
[submodule "Submodules/coreutils"]
	path = Submodules/coreutils
	url = https://https.git.savannah.gnu.org/git/coreutils.git
