[submodule "Submodules/gcc"]
	path = Submodules/gcc
	url = https://gcc.gnu.org/git/gcc.git
[submodule "Submodules/binutils"]
	path = Submodules/binutils
	url = https://forge.sourceware.org/binutils-gdb/binutils-gdb-mirror.git
[submodule "Submodules/linux"]
	path = Submodules/linux
	url = https://github.com/torvalds/linux.git
[submodule "Submodules/bash"]
	path = Submodules/bash
	url = https://https.git.savannah.gnu.org/git/bash.git
[submodule "Submodules/glibc"]
	path = Submodules/glibc
	url = https://sourceware.org/git/glibc.git
[submodule "Submodules/klibc"]
	path = Submodules/klibc
	url = https://git.kernel.org/pub/scm/libs/klibc/klibc.git
[submodule "Submodules/systemd"]
	path = Submodules/systemd
	url = https://github.com/systemd/systemd.git
[submodule "Submodules/coreutils"]
	path = Submodules/coreutils
	url = https://https.git.savannah.gnu.org/git/coreutils.git
[submodule "Submodules/dnf5"]
	path = Submodules/dnf5
	url = https://github.com/rpm-software-management/dnf5.git
[submodule "Submodules/rpm"]
	path = Submodules/rpm
	url = https://github.com/rpm-software-management/rpm.git
[submodule "Submodules/LuaJIT"]
	path = Submodules/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "Submodules/lua"]
	path = Submodules/lua
	url = https://github.com/lua/lua.git
[submodule "Submodules/readline"]
	path = Submodules/readline
	url = https://https.git.savannah.gnu.org/git/readline.git
[submodule "Submodules/zlib"]
	path = Submodules/zlib
	url = https://github.com/madler/zlib.git
[submodule "Submodules/--depth=1"]
	path = Submodules/--depth=1
	url = https://sourceware.org/git/bzip2.git
[submodule "Submodules/bzip2"]
	path = Submodules/bzip2
	url = https://sourceware.org/git/bzip2.git
[submodule "Submodules/popt"]
	path = Submodules/popt
	url = https://github.com/rpm-software-management/popt.git
[submodule "Submodules/zstd"]
	path = Submodules/zstd
	url = https://github.com/facebook/zstd.git
[submodule "Submodules/libarchive"]
	path = Submodules/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "Submodules/file"]
	path = Submodules/file
	url = https://github.com/file/file.git
[submodule "Submodules/sqlite"]
	path = Submodules/sqlite
	url = https://github.com/sqlite/sqlite.git
